{% extends "base.html" %}
{% block title %}
Add Fee
{% endblock %}

{% block content %}
<h2>Add Monthly Fee</h2>

<form method="POST" action="">
    {% csrf_token %}
    
    <label for="student">Student Name:</label>
    <select name="student_id" required>
        {% for student in students %}
        <option value="{{ student.id }}">{{ student.name }} ({{ student.student_class }})</option>
        {% endfor %}
    </select><br><br>

    <label for="amount_submitted">Amount Submitted:</label>
    <input type="number" name="amount_submitted" required><br><br>

    <button type="submit">Submit Fee</button>
</form>
{% endblock %}
